
	<div class="col-lg-12col-xl-12 col-md-12 col-sm-12">
    <br>
		<div class="card  box-shadow-0 ">
			<div class="card-header">
				<h4 class="card-title mb-1">INGRESO DE USUARIO</h4>
				<p class="mb-2">El ingreso es unico por usuario.</p>
			</div>
			<div class="card-body pt-0">
				<form>
					<div class="">
            <div class="form-group">
							<label for="exampleInputEmail1">Nombres</label>
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Apellidos</label>
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Rol</label>
							<input type="password" class="form-control" id="exampleInputPassword1"
								placeholder="Password">
						</div>
						<div class="checkbox">
							<div class="custom-checkbox custom-control">
								<input type="checkbox" data-checkboxes="mygroup" class="custom-control-input"
									id="checkbox-1">
								<label for="checkbox-1" class="custom-control-label mt-1">Check me Out</label>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary mt-3 mb-0">Submit</button>
				</form>
			</div>
		</div>
	</div>


