<!--Perfil-->
<div class="breadcrumb-header justify-content-between">
  <div class="left-content">
      <div>
          <h2 class="main-content-title tx-24 mg-b-1 mg-b-lg-1">Hola bienvenido</h2>
          <p class="mg-b-0">Panel de monitoreo.</p>
      </div>
  </div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="card custom-card">
			<div class="card-body">
				<div>
					<h6 class="card-title mb-1">Usuario</h6>
					<p class="text-muted card-sub-title">Below is the static example of the basic modal.</p>
				</div>
        <div class="row">
          <div class="media d-block d-sm-flex col-lg-3 col-md-3 col-xl-3 col-sm-12">

            <div class="media d-block d-sm-flex mg-t-25  mg-l-120">
              <div class="main-img-user avatar-xxl d-none d-sm-block">
                <img alt="avatar" class="rounded-circle" src="./assets/img/faces/8.jpg">
              </div>
            </div>

            </div>

            <div class="col-lg-9 col-md-9 col-xl-9 col-sm-12">
              <h3>Nombre usuario</h3>
              <ul>
                <li>dato</li>
                <li>dato</li>
              </ul>
          </div>
        </div>
			</div>
		</div>
	</div>

<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="card custom-card">
			<div class="card-body">
			  	<div>
					  <h6 class="card-title mb-1">Creador de conjuntos</h6>
					  <p class="text-muted card-sub-title">Para la creacion de juntos, se deben arrastrar los nombre de los equipo a el carril contrario </p><br>
				  </div>
          <div class="sortable">
            <div class="row row-sm">
              <div class="col-xl-6 col-sm-12 col-md-6 col-lg-4 " id="right-defaults">
                <h6 class="card-title mb-1">Equipos disponibles</h6><br>
                <label for="exampleInputEmail1">Buscar dispositivos</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Escribir el nombre del equipo"><br>
                <div class="card custom-card card-body card-draggable bg-secondary tx-white"><br>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content. Lorem ipsum dolor sit amet consictetur...</p>
                  </div>
              </div>
              <div class="col-xl-6 col-sm-12 col-md-12 col-lg-4" id="left-events">
                <h6 class="card-title mb-1 col-lg-6 col-md-4 col-sm-6 col-xs-12">Nombrar conjunto</h6><br>
                <label for="exampleInputEmail1">Crear nombre para el conjunto</label>
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Escribir el nombre del conjunto que desea crear"><br>
                <div class="card custom-card card-body card-draggable bg-primary tx-white">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content. Lorem ipsum dolor sit amet consictetur...</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="tx-center pd-y-20 ">
        <button class="btn ripple btn-main-primary"> Guardar</button>
      </div>
    </div>
  </div>

</div>
</div>


