<div class="breadcrumb-header justify-content-between">
	<div class="my-auto">
		<div class="d-flex">
			<h4 class="content-title mb-0 my-auto">Tabla </h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/usuarios</span>
		</div>
	</div>
	<div class="d-flex my-xl-auto right-content mr-2">
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-info btn-icon mr-2"><i class="mdi mdi-filter-variant"></i></button>
		</div>
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-danger btn-icon mr-2"><i class="mdi mdi-star"></i></button>
		</div>
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-warning  btn-icon mr-2"><i class="mdi mdi-refresh"></i></button>
		</div>
	</div>
</div>
<!-- breadcrumb -->

<!-- row opened -->
<div class="row row-sm">
	<div class="col-xl-12">
		<div class="card">
			<div class="card-header pb-0">
				<div class="d-flex justify-content-between">
					<h4 class="card-title mg-b-0">LISTADO DE USUARIOS INGRESADOS</h4>
					<i class="mdi mdi-dots-horizontal text-gray"></i>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table text-md-nowrap" id="myTable1">
						<thead>
							<tr>
                <th class="wd-15p border-bottom-0">ID </th>
                <th class="wd-15p border-bottom-0">RUT </th>
								<th class="wd-15p border-bottom-0">Nombre </th>
								<th class="wd-15p border-bottom-0">Apellido Paterno</th>
								<th class="wd-20p border-bottom-0">Apellido Materno</th>
								<th class="wd-15p border-bottom-0">Email</th>
								<th class="wd-10p border-bottom-0">Estado</th>
                <th class="wd-10p border-bottom-0">Opcion</th>
							</tr>
						</thead>
						<tbody>
							<tr>
                <td>12345688</td>
								<td>11.111.111-1</td>
								<td>Juana</td>
								<td>Perez</td>
								<td>Perales</td>
								<td>juana@gmail.com</td>
								<td>Usuario</td>
                <td> <div class="btn-icon-list">
                  <button class="btn btn-primary btn-icon"><i class="typcn typcn-folder"></i></button>
                  <button class="btn btn-primary btn-icon"><i class="typcn typcn-calendar-outline"></i></button>

              </div>


                </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

