<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <div>
            <h2 class="main-content-title tx-24 mg-b-1 mg-b-lg-1">Hola bienvenido</h2>
            <p class="mg-b-0">Panel de monitoreo.</p>
        </div>
    </div>
    <div class="main-dashboard-header-right">
     <div>
            <label class="tx-13">Salas activas</label>
            <h5>563,275</h5>
        </div>
        <div>
            <label class="tx-13">Dispositivos activos</label>
            <h5>105</h5>
        </div>
    </div>
</div>
<!-- /breadcrumb -->

<!-- row -->
<div class="row row-sm">
    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
        <div class="card overflow-hidden sales-card bg-primary-gradient">
            <div class="pl-3 pt-3 pr-3 pb-2 pt-0">
                <div class="">
                    <h6 class="mb-3 tx-12 text-white">ESTABLECIMIENTOS</h6>
                </div>
                <div class="pb-0 mt-0">
                    <div class="d-flex">
                        <div class="">
                            <h4 class="tx-20 font-weight-bold mb-1 text-white">365</h4>
                            <p class="mb-0 tx-12 text-white op-7">Activos</p>
                        </div>
                        <span class="float-right my-auto ml-auto">
                            <i class="fas fa-arrow-circle-up text-white"></i>
                            <span class="text-white op-7"> 78%</span>
                        </span>
                    </div>
                </div>
            </div>
            <span id="compositeline" class="pt-1">
                <apx-chart [chart]="apexSparkline.chart" [stroke]="apexSparkline.stroke" [fill]="apexSparkline.fill"
                    [series]="apexSparkline1.series" [tooltip]="apexSparkline.tooltip" [colors]="apexSparkline.colors">
                </apx-chart>
            </span>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
        <div class="card overflow-hidden sales-card bg-danger-gradient">
            <div class="pl-3 pt-3 pr-3 pb-2 pt-0">
                <div class="">
                    <h6 class="mb-3 tx-12 text-white">USUARIOS</h6>
                </div>
                <div class="pb-0 mt-0">
                    <div class="d-flex">
                        <div class="">
                            <h4 class="tx-20 font-weight-bold mb-1 text-white">859</h4>
                            <p class="mb-0 tx-12 text-white op-7">Conectados</p>
                        </div>
                        <span class="float-right my-auto ml-auto">
                            <i class="fas fa-arrow-circle-down text-white"></i>
                            <span class="text-white op-7"> 89%</span>
                        </span>
                    </div>
                </div>
            </div>
            <span id="compositeline2" class="pt-1">
                <apx-chart [chart]="apexSparkline.chart" [stroke]="apexSparkline.stroke" [fill]="apexSparkline.fill"
                    [series]="apexSparkline2.series" [tooltip]="apexSparkline.tooltip" [colors]="apexSparkline.colors">
                </apx-chart>
            </span>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
        <div class="card overflow-hidden sales-card bg-success-gradient">
            <div class="pl-3 pt-3 pr-3 pb-2 pt-0">
                <div class="">
                    <h6 class="mb-3 tx-12 text-white">SALAS</h6>
                </div>
                <div class="pb-0 mt-0">
                    <div class="d-flex">
                        <div class="">
                            <h4 class="tx-20 font-weight-bold mb-1 text-white">$376</h4>
                            <p class="mb-0 tx-12 text-white op-7">conectadas</p>
                        </div>
                        <span class="float-right my-auto ml-auto">
                            <i class="fas fa-arrow-circle-up text-white"></i>
                            <span class="text-white op-7"> 46%</span>
                        </span>
                    </div>
                </div>
            </div>
            <span id="compositeline3" class="pt-1"><apx-chart [chart]="apexSparkline.chart" [stroke]="apexSparkline.stroke" [fill]="apexSparkline.fill"
                [series]="apexSparkline3.series" [tooltip]="apexSparkline.tooltip" [colors]="apexSparkline.colors">
            </apx-chart></span>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
        <div class="card overflow-hidden sales-card bg-warning-gradient">
            <div class="pl-3 pt-3 pr-3 pb-2 pt-0">
                <div class="">
                    <h6 class="mb-3 tx-12 text-white">DISPOSITIVOS</h6>
                </div>
                <div class="pb-0 mt-0">
                    <div class="d-flex">
                        <div class="">
                            <h4 class="tx-20 font-weight-bold mb-1 text-white">953</h4>
                            <p class="mb-0 tx-12 text-white op-7">Activos</p>
                        </div>
                        <span class="float-right my-auto ml-auto">
                            <i class="fas fa-arrow-circle-down text-white"></i>
                            <span class="text-white op-7"></span>
                        </span>
                    </div>
                </div>
            </div>
            <span id="compositeline4" class="pt-1">
                <apx-chart [chart]="apexSparkline.chart" [stroke]="apexSparkline.stroke" [fill]="apexSparkline.fill"
                    [series]="apexSparkline3.series" [tooltip]="apexSparkline.tooltip" [colors]="apexSparkline.colors">
                </apx-chart></span>
        </div>
    </div>
</div>
<!-- row closed -->

<!-- row opened -->
<div class="row row-sm">
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="card extra-padding">
            <div class="card-header bg-transparent pd-b-0 pd-t-20 bd-b-0">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title mb-0">Indice de calidad de aire</h4>
                    <div ngbDropdown class="btn-group">
                        <a type="button" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-dots-horizontal text-gray"></i>
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownMenuDate" data-x-placement="bottom-end">
                            <a ngbDropdownItem href="javascript:;">2015</a>
                            <a ngbDropdownItem href="javascript:;">2016</a>
                            <a ngbDropdownItem href="javascript:;">2017</a>
                            <a ngbDropdownItem href="javascript:;">2018</a>
                        </div>
                    </div>
                </div>
                <p class="tx-12 text-muted mb-0">Monitoreo de la calidad de aire, fluctuante entre meses.</p>
            </div>
            <div class="card-body">
                <div class="total-revenue">
                    <div>
                        <!--<h4>120,750</h4> -->
                        <label><span class="bg-primary"></span>Temperatura</label>
                    </div>
                    <div>
                         <!--<h4>120,750</h4> -->
                        <label><span class="bg-danger"></span>Humedad</label>
                    </div>
                    <div>
                         <!--<h4>120,750</h4> -->
                        <label><span class="bg-warning"></span>CO2</label>
                    </div>
                </div>
                <div id="bar" class="sales-bar mt-4">
                    <apx-chart [series]="statusData.series" [colors]="statusData.colors" [chart]="statusData.chart"
                        [dataLabels]="statusData.dataLabels" [xaxis]="statusData.xaxis" [legend]="statusData.legend"
                        [plotOptions]="statusData.plotOptions">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-6">
      <div class="card overflow-hidden">
          <div class="card-body">
              <div class="main-content-label mg-b-5">
                  Alertas en curso
              </div>
              <p class="mg-b-20">Alertas cursadas por mes, segun la saturacion de aire</p>
              <div class="chartjs-wrapper-demo">
                  <!-- <canvas id="chartArea1"></canvas> -->
                  <apx-chart [series]="pieData.pieseries" [colors]="pieData.colors" [chart]="pieData.chart"
                          [labels]="pieData.labels" [legend]="pieData.legend" [responsive]="pieData.responsive">
                      </apx-chart>

              </div>
          </div>
      </div>
    </div>
</div>
<!-- row closed -->

<!-- row opened -->

<!-- row close -->

<!-- row opened -->







    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card card-table-two">
            <div class="d-flex justify-content-between">
                <h4 class="card-title mb-1">equipos en terreno</h4>
            </div>
            <span class="tx-12 tx-muted mb-3 ">cantidad de equipos en funcionamiento por comunas</span>
            <div class="table-responsive country-table">
                <table class="table table-striped table-bordered mb-0 text-sm-nowrap text-lg-nowrap text-xl-nowrap">
                    <thead>
                        <tr>
                            <th class="wd-lg-25p">Comuna</th>
                            <th class="wd-lg-25p">Numero de equipos</th>
                            <th class="wd-lg-25p">Equipos activos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tx-medium tx-inverse">Providencia</td>
                            <td class="tx-medium tx-inverse">18</td>
                            <td class="tx-medium tx-inverse">16</td>
                        </tr>
                        <tr>
                            <td class="tx-medium tx-inverse">Las Conde</td>
                            <td class="tx-medium tx-inverse">26</td>
                            <td class="tx-medium tx-inverse">18</td>

                        </tr>
                        <tr>
                            <td class="tx-medium tx-inverse">Nuñoa</td>
                            <td class="tx-medium tx-inverse">34</td>
                            <td class="tx-medium tx-inverse">30</td>

                        </tr>
                        <tr>
                            <td class="tx-medium tx-inverse">08 Dec 2019</td>
                            <td class="tx-medium tx-inverse">45</td>
                            <td class="tx-medium tx-inverse">$546.47</td>

                        </tr>
                        <tr>
                            <td class="tx-medium tx-inverse">09 Dec 2019</td>
                            <td class="tx-medium tx-inverse">31</td>
                            <td class="tx-medium tx-inverse">$425.72</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!-- /row -->
