.main-logo2{
  color:green,
}
.btn-color{
  background-color:rgb(0, 128, 0) !important;
}
.difumination{
    width: 200px !important;
    height: 200px;
    box-shadow: 0 0 8px 8px white inset;
}
.bg-primary-transparent-MY {
  background-color: #58B947 !important;
}
