.main-logo2{
  color:green,
}
.btn-color{
  background-color:green !important;
}
.difumination{
    width: 200px !important;
    height: 200px;
    box-shadow: 0 0 8px 8px white inset;
}

